.logo-container{
  padding: 5px 10px 0px 10px;
}

.NoBold {
  font-size: 20px;
  padding: 5px 10px 0px 10px;
  color: #ffffff;
}
.NoBord {
  font-size: 20px;
  padding: 5px 10px 0px 10px;
  color: #ffffff;
}

.tulisan {
  font-size: 20px;
  padding: 5px 10px 0px 10px;
  color: #000000;
}

.menu {
  padding: 1px 2px 6px 2px;
}

.NoBold:hover {
  background-color: #034584;
  border-radius: 20px;
}

@media all and (min-width: 992px) {
	.dropdown-menu {
		width: 13rem;
	}
	.mega-submenu {
		left: 100%;
		top: 0;
		min-width: 25rem;
	}
	.ktm-mega-menu {
		position: static;
	}
	.mega-menu {
    top: 73px;
		left: 0;
		right: 0;
		width: 100%;
	}
	.dropdown-menu li {
		position: relative;
	}
	.dropdown-menu .submenu {
		display: none;
		left: 100%;
		top: 0;
	}
	.dropdown-menu>li:hover>.submenu,
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}
