.news-container{
    margin-bottom: 200px;
}

.backgroundnews{
    background-color: linear-gradient(90deg, #d9f4ff 10.98%, #bec9e7 100%);
  padding: 100px;
}

.textnews{
    font-size: 300px !important;
}

.right.carousel-control, 
.left.carousel-control 
{
     visibility:hidden;
}