.news-container{
    margin-bottom: 200px;
}

.modul-container {
    background: url("./bgmodul.svg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  